In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.read_csv('Resources/diamonds.csv')

In [3]:
df

,carat,cut,color,clarity,depth,table,price,'x','y','z'
0,0.23,b'Ideal',b'E',b'SI2',61.5,55.0,326.0,3.95,3.98,2.43
1,0.21,b'Premium',b'E',b'SI1',59.8,61.0,326.0,3.89,3.84,2.31
2,0.23,b'Good',b'E',b'VS1',56.9,65.0,327.0,4.05,4.07,2.31
3,0.29,b'Premium',b'I',b'VS2',62.4,58.0,334.0,4.20,4.23,2.63
4,0.31,b'Good',b'J',b'SI2',63.3,58.0,335.0,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...
53935,0.72,b'Ideal',b'D',b'SI1',60.8,57.0,2757.0,5.75,5.76,3.50
53936,0.72,b'Good',b'D',b'SI1',63.1,55.0,2757.0,5.69,5.75,3.61
53937,0.70,b'Very Good',b'D',b'SI1',62.8,60.0,2757.0,5.66,5.68,3.56
53938,0.86,b'Premium',b'H',b'SI2',61.0,58.0,2757.0,6.15,6.12,3.74
53939,0.75,b'Ideal',b'D',b'SI2',62.2,55.0,2757.0,5.83,5.87,3.64

In [4]:
df_dup = df.drop(columns = ['depth', 'table', "'x'", "'y'", "'z'"])

In [5]:
dropable = df_dup[df_dup.duplicated()]
dropable

       carat           cut color clarity   price
18      0.30       b'Good'  b'J'  b'SI1'   351.0
24      0.31  b'Very Good'  b'J'  b'SI1'   353.0
31      0.23  b'Very Good'  b'F'  b'VS1'   402.0
33      0.23  b'Very Good'  b'E'  b'VS1'   402.0
40      0.33      b'Ideal'  b'I'  b'SI2'   403.0
...      ...           ...   ...     ...     ...
53909   0.70  b'Very Good'  b'E'  b'SI1'  2753.0
53910   0.70    b'Premium'  b'E'  b'SI1'  2753.0
53921   0.70  b'Very Good'  b'E'  b'VS2'  2755.0
53924   0.73      b'Ideal'  b'I'  b'VS2'  2756.0
53933   0.70  b'Very Good'  b'E'  b'VS2'  2757.0

[14184 rows x 5 columns]

In [6]:
drop_list = [i for i,row in dropable.iterrows()]
drop_list

[18,
 24,
 31,
 33,
 40,
 47,
 58,
 63,
 73,
 78,
 80,
 87,
 115,
 124,
 129,
 141,
 157,
 160,
 181,
 183,
 190,
 194,
 195,
 196,
 197,
 201,
 202,
 206,
 246,
 260,
 264,
 267,
 289,
 290,
 295,
 309,
 321,
 322,
 335,
 343,
 351,
 354,
 365,
 378,
 389,
 390,
 391,
 393,
 395,
 396,
 397,
 398,
 399,
 400,
 402,
 406,
 409,
 411,
 420,
 421,
 436,
 437,
 438,
 456,
 457,
 459,
 463,
 464,
 471,
 483,
 484,
 489,
 490,
 496,
 501,
 502,
 503,
 505,
 506,
 507,
 509,
 524,
 532,
 540,
 553,
 598,
 600,
 602,
 603,
 604,
 608,
 610,
 611,
 612,
 617,
 619,
 631,
 637,
 642,
 657,
 704,
 720,
 721,
 725,
 726,
 731,
 732,
 733,
 734,
 735,
 738,
 741,
 743,
 745,
 752,
 760,
 763,
 776,
 786,
 808,
 809,
 810,
 811,
 812,
 824,
 835,
 836,
 869,
 870,
 883,
 884,
 885,
 889,
 892,
 893,
 894,
 899,
 908,
 917,
 930,
 951,
 956,
 963,
 985,
 1004,
 1005,
 1006,
 1007,
 1008,
 1031,
 1032,
 1043,
 1044,
 1050,
 1056,
 1058,
 1060,
 1062,
 1064,
 1065,
 1066,
 1068,
 1069,
 1070,
 1071,
 1072,
 1073,
 1074,
 1076,
 1077,
 1083,
 1085,
 1094,
 1098,
 1102,
 1105,
 1137,
 1142,
 1147,
 1150,
 1166,
 1181,
 1210,
 1248,
 1250,
 1258,
 1260,
 1268,
 1285,
 1286,
 1289,
 1291,
 1292,
 1308,
 1315,
 1338,
 1364,
 1366,
 1367,
 1368,
 1370,
 1377,
 1380,
 1381,
 1385,
 1386,
 1388,
 1389,
 1390,
 1391,
 1393,
 1395,
 1396,
 1397,
 1398,
 1400,
 1532,
 1533,
 1574,
 1577,
 1578,
 1579,
 1580,
 1588,
 1589,
 1599,
 1602,
 1603,
 1604,
 1607,
 1613,
 1619,
 1651,
 1659,
 1665,
 1693,
 1713,
 1715,
 1720,
 1721,
 1722,
 1723,
 1725,
 1726,
 1727,
 1728,
 1729,
 1730,
 1732,
 1733,
 1734,
 1735,
 1736,
 1737,
 1738,
 1739,
 1750,
 1759,
 1770,
 1780,
 1787,
 1805,
 1811,
 1842,
 1845,
 1850,
 1858,
 1860,
 1886,
 1894,
 1908,
 1911,
 1919,
 1940,
 1942,
 1943,
 1946,
 1953,
 1955,
 1963,
 1964,
 1965,
 1966,
 1967,
 1979,
 1990,
 2016,
 2020,
 2023,
 2025,
 2030,
 2032,
 2040,
 2042,
 2043,
 2044,
 2045,
 2046,
 2047,
 2048,
 2049,
 2050,
 2051,
 2052,
 2053,
 2054,
 2055,
 2056,
 2057,
 2058,
 2059,
 2061,
 2063,
 2064,
 2065,
 2066,
 2068,
 2069,
 2073,
 2098,
 2106,
 2116,
 2126,
 2130,
 2136,
 2151,
 2153,
 2162,
 2163,
 2172,
 2182,
 2183,
 2196,
 2197,
 2211,
 2212,
 2223,
 2227,
 2228,
 2245,
 2265,
 2271,
 2285,
 2286,
 2287,
 2289,
 2290,
 2296,
 2303,
 2307,
 2337,
 2338,
 2371,
 2372,
 2373,
 2374,
 2375,
 2376,
 2378,
 2379,
 2380,
 2381,
 2382,
 2383,
 2384,
 2385,
 2386,
 2387,
 2388,
 2389,
 2390,
 2391,
 2392,
 2393,
 2394,
 2395,
 2396,
 2397,
 2408,
 2409,
 2416,
 2417,
 2419,
 2425,
 2430,
 2439,
 2440,
 2455,
 2462,
 2465,
 2470,
 2481,
 2490,
 2501,
 2506,
 2516,
 2530,
 2534,
 2535,
 2536,
 2537,
 2538,
 2545,
 2565,
 2576,
 2602,
 2603,
 2605,
 2607,
 2635,
 2636,
 2637,
 2673,
 2693,
 2694,
 2696,
 2697,
 2700,
 2701,
 2702,
 2703,
 2704,
 2706,
 2715,
 2717,
 2722,
 2723,
 2727,
 2729,
 2730,
 2737,
 2741,
 2742,
 2754,
 2766,
 2772,
 2773,
 2780,
 2809,
 2820,
 2827,
 2828,
 2829,
 2855,
 2859,
 2860,
 2872,
 2896,
 2897,
 2899,
 2903,
 2914,
 2921,
 2932,
 2939,
 2943,
 2976,
 2977,
 2996,
 2997,
 2998,
 2999,
 3004,
 3006,
 3019,
 3030,
 3031,
 3037,
 3040,
 3041,
 3043,
 3045,
 3046,
 3047,
 3048,
 3057,
 3059,
 3068,
 3071,
 3076,
 3078,
 3079,
 3093,
 3101,
 3120,
 3121,
 3127,
 3141,
 3142,
 3156,
 3167,
 3180,
 3182,
 3188,
 3208,
 3227,
 3228,
 3231,
 3267,
 3273,
 3288,
 3300,
 3301,
 3312,
 3314,
 3350,
 3360,
 3364,
 3366,
 3370,
 3373,
 3383,
 3385,
 3386,
 3387,
 3389,
 3390,
 3392,
 3396,
 3406,
 3409,
 3411,
 3412,
 3424,
 3425,
 3435,
 3437,
 3438,
 3440,
 3444,
 3445,
 3450,
 3462,
 3468,
 3477,
 3486,
 3494,
 3496,
 3503,
 3516,
 3517,
 3526,
 3530,
 3536,
 3559,
 3571,
 3595,
 3617,
 3627,
 3630,
 3631,
 3632,
 3633,
 3634,
 3635,
 3644,
 3650,
 3675,
 3682,
 3689,
 3690,
 3691,
 3693,
 3704,
 3705,
 3709,
 3721,
 3725,
 3727,
 3729,
 3731,
 3732,
 3735,
 3737,
 3743,
 3746,
 3747,
 3765,
 3766,
 3794,
 3814,
 3815,
 3827,
 3835,
 3841,
 3854,
 3855,
 3856,
 3857,
 3858,
 3859,
 3860,
 3861,
 3862,
 3872,
 3881,
 3884,
 3893,
 3931,
 3945,
 3946,
 3953,
 3954,
 3965,
 3981,
 3993,
 3994,
 4006,
 4007,
 4008,
 4010,
 4011,
 4012,
 4020,
 4052,
 4053,
 4055,
 4057,
 4058,
 4065,
 4066,
 4067,
 4068,
 4070,
 4072,
 4073,
 4074,
 4075,
 4076,
 4077,
 4078,
 4079,
 4082,
 4083,
 4088,
 4089,
 4113,
 4134,
 4150,
 4166,
 4175,
 4177,
 4180,
 4184,
 4200,
 4201,
 4219,
 4234,
 4264,
 4282,
 4287,
 4312,
 4317,
 4318,
 4319,
 4326,
 4327,
 4329,
 4333,
 4346,
 4347,
 4348,
 4362,
 4380,
 4381,
 4382,
 4383,
 4384,
 4385,
 4386,
 4387,
 4388,
 4389,
 4390,
 4392,
 4393,
 4394,
 4395,
 4396,
 4397,
 4398,
 4399,
 4400,
 4401,
 4402,
 4404,
 4406,
 4407,
 4408,
 4409,
 4431,
 4435,
 4448,
 4466,
 4469,
 4479,
 4489,
 4493,
 4499,
 4513,
 4520,
 4522,
 4527,
 4532,
 4540,
 4542,
 4546,
 4577,
 4596,
 4610,
 4611,
 4612,
 4641,
 4644,
 4648,
 4650,
 4651,
 4657,
 4661,
 4663,
 4683,
 4696,
 4710,
 4711,
 4712,
 4713,
 4715,
 4719,
 4724,
 4725,
 4726,
 4732,
 4733,
 4734,
 4735,
 4736,
 4737,
 4738,
 4739,
 4751,
 4762,
 4763,
 4764,
 4805,
 4814,
 4822,
 4823,
 4824,
 4825,
 4826,
 4827,
 4828,
 4837,
 4838,
 4839,
 4847,
 4848,
 4849,
 4850,
 4851,
 4852,
 4853,
 4854,
 4855,
 4856,
 4857,
 4873,
 4879,
 4896,
 4904,
 4909,
 4933,
 4956,
 4958,
 4963,
 4964,
 4965,
 4966,
 4971,
 4993,
 4994,
 5020,
 5024,
 5036,
 5040,
 5043,
 5044,
 5048,
 5049,
 5051,
 5052,
 5053,
 5054,
 5058,
 5062,
 5063,
 5065,
 5067,
 5068,
 5069,
 5083,
 5092,
 5106,
 5107,
 5108,
 5109,
 5110,
 5111,
 5112,
 5113,
 5138,
 5139,
 5143,
 5153,
 5161,
 5175,
 5179,
 5183,
 5184,
 5187,
 5199,
 5212,
 5213,
 5241,
 5246,
 5251,
 5255,
 5274,
 5296,
 5302,
 5309,
 5321,
 5337,
 5338,
 5343,
 5361,
 5363,
 5371,
 5373,
 5374,
 5378,
 5379,
 5380,
 5381,
 5382,
 5383,
 5384,
 5386,
 5387,
 5390,
 5391,
 5392,
 5393,
 5394,
 5395,
 5396,
 5397,
 5398,
 5399,
 5402,
 5405,
 5462,
 5485,
 5503,
 5525,
 5526,
 5547,
 5548,
 5552,
 5560,
 5562,
 5563,
 5564,
 5565,
 5578,
 5592,
 5595,
 5597,
 5629,
 5630,
 5631,
 5639,
 5644,
 5655,
 5657,
 5665,
 5675,
 5681,
 5690,
 5692,
 5693,
 5700,
 5701,
 5702,
 5703,
 5704,
 5705,
 5708,
 5709,
 5710,
 5711,
 5712,
 5715,
 5716,
 5717,
 5718,
 5719,
 5720,
 5721,
 5722,
 5723,
 5724,
 5727,
 5729,
 5759,
 5760,
 5764,
 5772,
 5782,
 5795,
 5806,
 5848,
 5849,
 5851,
 5853,
 5876,
 5884,
 5897,
 5922,
 5926,
 5927,
 5928,
 5937,
 5957,
 5958,
 5959,
 5960,
 5961,
 5962,
 5963,
 5964,
 5966,
 5967,
 5969,
 5970,
 5971,
 5972,
 5978,
 6000,
 6002,
 6018,
 6024,
 6025,
 6027,
 6030,
 6031,
 6035,
 6044,
 6045,
 6047,
 6048,
 6050,
 6051,
 6052,
 6053,
 6054,
 6055,
 6056,
 6057,
 6058,
 6059,
 6060,
 6064,
 6065,
 6075,
 6078,
 6082,
 6093,
 6099,
 6100,
 6101,
 6144,
 6145,
 6164,
 6174,
 6176,
 6178,
 6182,
 6193,
 6194,
 6196,
 6206,
 6224,
 6225,
 6227,
 6233,
 6246,
 6247,
 6254,
 6258,
 ...]

In [7]:
df.drop(drop_list, inplace = True)
df.reset_index(inplace=True, drop=True)
df.drop(columns=["'x'", "'y'", "'z'"], inplace=True)
df

       carat           cut color clarity  depth  table   price
0       0.23      b'Ideal'  b'E'  b'SI2'   61.5   55.0   326.0
1       0.21    b'Premium'  b'E'  b'SI1'   59.8   61.0   326.0
2       0.23       b'Good'  b'E'  b'VS1'   56.9   65.0   327.0
3       0.29    b'Premium'  b'I'  b'VS2'   62.4   58.0   334.0
4       0.31       b'Good'  b'J'  b'SI2'   63.3   58.0   335.0
...      ...           ...   ...     ...    ...    ...     ...
39751   0.72      b'Ideal'  b'D'  b'SI1'   60.8   57.0  2757.0
39752   0.72       b'Good'  b'D'  b'SI1'   63.1   55.0  2757.0
39753   0.70  b'Very Good'  b'D'  b'SI1'   62.8   60.0  2757.0
39754   0.86    b'Premium'  b'H'  b'SI2'   61.0   58.0  2757.0
39755   0.75      b'Ideal'  b'D'  b'SI2'   62.2   55.0  2757.0

[39756 rows x 7 columns]

In [8]:
df.nunique()

carat        273
cut            5
color          7
clarity        8
depth        182
table        126
price      11602
dtype: int64

In [9]:
df = pd.get_dummies(df, columns=['cut', 'color', 'clarity'], drop_first=True)

In [10]:
df.head(10)

,carat,depth,table,price,cut_b'Good',cut_b'Ideal',cut_b'Premium',cut_b'Very Good',color_b'E',color_b'F',...,color_b'H',color_b'I',color_b'J',clarity_b'IF',clarity_b'SI1',clarity_b'SI2',clarity_b'VS1',clarity_b'VS2',clarity_b'VVS1',clarity_b'VVS2'
0,0.23,61.5,55.0,326.0,0,1,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
1,0.21,59.8,61.0,326.0,0,0,1,0,1,0,...,0,0,0,0,1,0,0,0,0,0
2,0.23,56.9,65.0,327.0,1,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
3,0.29,62.4,58.0,334.0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,1,0,0
4,0.31,63.3,58.0,335.0,1,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
5,0.24,62.8,57.0,336.0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,1
6,0.24,62.3,57.0,336.0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0
7,0.26,61.9,55.0,337.0,0,0,0,1,0,0,...,1,0,0,0,1,0,0,0,0,0
8,0.22,65.1,61.0,337.0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
9,0.23,59.4,61.0,338.0,0,0,0,1,0,0,...,1,0,0,0,0,0,1,0,0,0

In [11]:
df.to_csv('Resources/cleaned.csv', index=False)
columns = df.columns.to_list()

In [12]:
scaler = StandardScaler()
scaler_new = scaler.fit(df)
scaled_df = pd.DataFrame(scaler_new.transform(df), columns = columns)

In [13]:
scaled_df.head(10)

,carat,depth,table,price,cut_b'Good',cut_b'Ideal',cut_b'Premium',cut_b'Very Good',color_b'E',color_b'F',...,color_b'H',color_b'I',color_b'J',clarity_b'IF',clarity_b'SI1',clarity_b'SI2',clarity_b'VS1',clarity_b'VS2',clarity_b'VVS1',clarity_b'VVS2'
0,-1.405572,-0.156729,-1.120720,-1.038223,-0.342592,1.305138,-0.566777,-0.568675,2.224396,-0.462318,...,-0.439985,-0.359811,-0.263711,-0.172747,-0.574252,2.004444,-0.421931,-0.510935,-0.254255,-0.308898
1,-1.447307,-1.265593,1.490024,-1.038223,-0.342592,-0.766202,1.764362,-0.568675,2.224396,-0.462318,...,-0.439985,-0.359811,-0.263711,-0.172747,1.741395,-0.498891,-0.421931,-0.510935,-0.254255,-0.308898
2,-1.405572,-3.157185,3.230521,-1.037985,2.918924,-0.766202,-0.566777,-0.568675,2.224396,-0.462318,...,-0.439985,-0.359811,-0.263711,-0.172747,-0.574252,-0.498891,2.370058,-0.510935,-0.254255,-0.308898
3,-1.280367,0.430317,0.184652,-1.036319,-0.342592,-0.766202,1.764362,-0.568675,-0.449560,-0.462318,...,-0.439985,2.779237,-0.263711,-0.172747,-0.574252,-0.498891,-0.421931,1.957197,-0.254255,-0.308898
4,-1.238632,1.017363,0.184652,-1.036081,2.918924,-0.766202,-0.566777,-0.568675,-0.449560,-0.462318,...,-0.439985,-0.359811,3.792031,-0.172747,-0.574252,2.004444,-0.421931,-0.510935,-0.254255,-0.308898
5,-1.384705,0.691227,-0.250472,-1.035843,-0.342592,-0.766202,-0.566777,1.758473,-0.449560,-0.462318,...,-0.439985,-0.359811,3.792031,-0.172747,-0.574252,-0.498891,-0.421931,-0.510935,-0.254255,3.237317
6,-1.384705,0.365090,-0.250472,-1.035843,-0.342592,-0.766202,-0.566777,1.758473,-0.449560,-0.462318,...,-0.439985,2.779237,-0.263711,-0.172747,-0.574252,-0.498891,-0.421931,-0.510935,3.933056,-0.308898
7,-1.342970,0.104181,-1.120720,-1.035605,-0.342592,-0.766202,-0.566777,1.758473,-0.449560,-0.462318,...,2.272803,-0.359811,-0.263711,-0.172747,1.741395,-0.498891,-0.421931,-0.510935,-0.254255,-0.308898
8,-1.426440,2.191455,1.490024,-1.035605,-0.342592,-0.766202,-0.566777,-0.568675,2.224396,-0.462318,...,-0.439985,-0.359811,-0.263711,-0.172747,-0.574252,-0.498891,-0.421931,1.957197,-0.254255,-0.308898
9,-1.405572,-1.526502,1.490024,-1.035367,-0.342592,-0.766202,-0.566777,1.758473,-0.449560,-0.462318,...,2.272803,-0.359811,-0.263711,-0.172747,-0.574252,-0.498891,2.370058,-0.510935,-0.254255,-0.308898

In [14]:
scaled_df.to_csv('Resources/scaled.csv', index=False)